@import '../abstract/variables';

#about-me {
    background-color: $color-quartenary;

    .about-me-content {
        display: flex;
        padding: 1.5rem;

        .about-me-image {
            display: none;
        }

        .about-me-text {
            .about-me-title {
                @include title;
        
                span {
                    color: $color-secondary;
                }
            }
        
            .about-me-p {
                font-weight: 100;
                letter-spacing: .1rem;
                margin-bottom: 1.5rem;
        
                span {
                    color: $color-secondary;
                    font-weight: bold;
                }
            }

            .about-me-button {
                @include button;
            }

        }
    }
}


@media screen and (min-width: 730px) {
    #about-me {
        height: 100vh;
        display: flex;
        align-items: center;
        .about-me-content {
            width: 90%;
            display: flex;
            justify-content: space-around;
            .about-me-section{
                width: 40%;
                margin: 1.5rem;                
            }
    
            .about-me-image {
                display: block;
                max-width: 530px;
                height: auto;
                width: 100%;
                border-radius: 8px;
                text-align: center;
            }
        }
    
    }
    
}