@import '../abstract/variables';

#about-me {
    background-color: $bg-color;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .about-me-content {
        display: flex;
        @include padding-standard;

        .about-me-image {
            display: none;
        }

        .about-me-text {
            .about-me-title {
                @include title;
        
                span {
                    color: $color-secondary;
                }
            }
        
            .about-me-p {
                @include text;
        
                span {
                    color: $color-secondary;
                    font-weight: bold;
                }
            }

            .about-me-button {
                @include button;
            }

        }
    }
}


@media screen and (min-width: 730px) {
    #about-me {
        min-height: 100vh;
        display: flex;
        align-items: center;
        .about-me-content {
            width: 90%;
            display: flex;
            justify-content: space-around;
            .about-me-section{
                width: 40%;
                margin: 1.5rem;                
            }
    
            .about-me-image {
                display: block;
                max-width: 450px;
                height: auto;
                width: 100%;
                border-radius: 26px;
                text-align: center;
            }
        }
    
    }
    
}