@import '../abstract/variables';

#contact {
    
    margin: 5rem 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .contact-title {
        .title-2 {
            text-align: center;
            .title {
                @include title;

                .blue {
                    @include span-blue;
                }
            }

        }

        .contact-text {
            @include padding-standard;
            text-align: center;
            @include text;

            .blue {
                @include span-blue;
                font-weight: 700;
            }
        }

       
    } 
    
    .contact-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        form {
            display: flex;
            flex-direction: column;
            width: 90%;
            max-width: 350px;
            border-radius: 10px;
            justify-content: center;

            input, textarea {
                border: 0;
                margin: .7rem;
                padding: 1.2rem;
                border-radius: 15px;
                background-color: $color-quartenary;
                color: $color-text-form;
            }
        }

        .button {

            .contact-button {
                @include button;
            }
        }

        .contact-success {
            margin-top: 2rem;
            @include text;
            display: none;
        }
      }
}

@media screen and (min-width: 730px) {
    #contact {
        @include content;
        @include padding-standard; 
        min-height: 100vh;
        flex-direction: row;
        align-items: flex-start;
        margin-top: 5rem;
        
    
        .contact-title {
            width: 47%;
            .title-2 {
                text-align: left;
                .title {                    
                    @include title;
    
                    .blue {
                        @include span-blue;
                    }
                }
            }
    
            .contact-text {
                text-align: left;
                @include text;
                padding: 0;
            }
           
        } 
        
        .contact-container {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
    
            form {
                width: 100%;
                padding: 0;
                max-width: none;
    
                input, textarea {
                    border: 0;
                    margin: .7rem;
                    padding: 1.2rem;
                    border-radius: 15px;
                    background-color: $color-quartenary;
                    color: $color-text-form;
                }
            }
    
            .button {
    
                .contact-button {
                    @include button;
                }
            }
          }
    }
}