@import '../abstract/variables';

#my-work {
    min-height: 100vh;
    @include padding-standard;
    padding-top: 5rem;
    background-color: $color-quartenary;
    
    .my-work-content {
                .my-work-title {
            text-align: center;
            margin-bottom: 5rem;
            .title {
                
                @include title;
    
                .blue {
                    @include span-blue;
                }
            }
        }
    
        .my-work-image {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 400px));
            justify-content: space-evenly;
    
            .my-work-img-wrapper {
                position: relative;
                overflow: hidden;
                border-radius: 50px;
                margin: 1.5rem;
                .blur {
                    display: block;
                    width: 100%;
                    aspect-ratio: 1 / 1;
                    object-fit: cover;
                    object-position: center;
                }
    
                .slide-up {
                    position: absolute;
                    inset: 0;
                    font-size: 2rem;
                    padding: 1rem;
                    background: #384AD3;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    opacity: .9;
                    transform: translateY(100%);
                    text-align: center;
                    

                    .img-title {
                        font-weight: bold;
                        font-size: 1.5;
                        margin-bottom: 2rem;
                    }

                    .img-description {
                        font-size: 1rem;
                        margin: 0;
                        margin-bottom: 1rem;
                        padding: 0;
                    }

                    .img-text {
                        font-size: 1rem;
                        margin-top: .5rem;
                        padding: 0;
                    }
                }
    
                .blur,
                .slide-up {
                    transition: 300ms ease-in-out;
                }
       
                
            }
        }
        
        .my-work-img-wrapper:hover {
            
            .blur {
                filter: blur(2px);
                transform: scale(1.05);
            }
    
            .slide-up {
                transform: translateY(0%);
            }
        }
    }
    
}
