@import '../abstract/variables';

#skills {
    width: 90%;
    height: 70vh;
    @include padding-standard;
    display: flex;
    align-items: center;  
    margin: 0 auto;
    
    .skillset {
        .skill-title {
      
            .title {
                @include title;

                span {
                    @include span-blue;
                }
            }
        }
    }
}