@import '../abstract/variables';

#skills {
    width: 90%;
    min-height: 100vh;
    @include padding-standard;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;  
    margin: 0 auto;    
    padding: 5rem 0;
    
    .skillset {
        width: 100%;
        .skill-title {
      
            .title {
                @include title;

                span {
                    @include span-blue;
                }
            }
        }

        .skill-icons {
            width: 80%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 0 auto;
            .icons {
                .icon {
                    scale: 5;
                    margin: 5rem;
                    transition: all .2s;
                }
            }
        }
    }
}