@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&family=Roboto+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

//Colors
$bg-color: black;
$color-primary: white;
$color-secondary: #384AD3;
$color-tertiary: #9C9C9C;
$color-quartenary: #171717;
$color-text-form: #535353;

//Fonts
$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Roboto Mono', sans-serif;

//variables

@mixin content {
    width: 90%;
    margin: 0 auto;
    padding: 3rem;
}

@mixin padding-standard {
    padding: 1.5rem;
}

@mixin span-blue {
    color: $color-secondary;
}

@mixin title {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

@mixin button {
    background-color: $color-secondary;
    padding: .5rem 3rem;
    border-radius: 20px;
    cursor: pointer;
}

@mixin text {
    font-weight: 100;
    letter-spacing: .1rem;
    margin-bottom: 1.5rem;
    line-height: 2rem;
}