@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&family=Roboto+Mono:wght@400;700&display=swap');

//Colors
$bg-color: black;
$color-primary: white;

//Fonts
$font-primary: 'Oswald', sans-serif;
$font-secondary: 'Roboto Mono', sans-serif;